<%
    function escapeHtml( s ) {

        var tagsToReplace = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;'
        };

        return typeof s === "string" ? s.replace( /[&<>]/g, function( tag ) { return tagsToReplace[ tag ] || tag; } ) : s;
    }

    function formatAsTable( obj, maxDepth, depth ) {

        var s = "";

        if ( obj && ( typeof obj === "object" || typeof obj === "function" ) ) {

            if ( !depth ) { 
                depth = 1;
            }
            
            if ( !maxDepth ) {
                maxDepth = 1;
            }

            if ( depth === 1 && Object.keys( obj ).length === 0 ) {
                s += "<div class='debug-panel-empty'>Object is empty.</div>";
            } else {

                s += '<table class="debug-panel-table">'
                   + '  <thead>'
                   + '    <tr>'
                   + '      <th class="debug-panel-table-header-name">Name</th>'
                   + '      <th>Value</th>'
                   + '    </tr>'
                   + '  </thead>'
                   + '<tbody>';

                Object.keys( obj ).sort().forEach( function( key ) {

                    s += '<tr>'
                       + '<td style="color: black !important;">' + escapeHtml( key ) + '</td>'
                       + '<td style="word-break: break-all; color: black !important;">';

                    if ( obj[ key ] && typeof obj[ key ] === "object" ) {
                        if ( depth < maxDepth ) {
                            s += formatAsTable( obj[ key ], maxDepth, depth + 1 );
                        } else {
                            s += "(Object)";
                        }
                    } else {
                        s += escapeHtml( obj[ key ] );
                    }

                    s += '</td>'
                       + '</tr>';
                } );

                s += '  </tbody>';
                s += '</table>';
            }
        }

        return s;
    }

%>

<style>

    .debug-panel,
    .debug-panel * {
        box-sizing: border-box;        
    }

    .debug-panel {
        background: #303030;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 13px;
        line-height: 1.15;
        width: 100%;
    }

    .debug-panel-show-label {
        background-color: #F49B1E;
        color: rgba(255,255,255,.85);
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
        padding: 16px 28px;
        width: 100%;
    }

    .debug-panel-show-label img {
        float: right;
    }

    .debug-panel-show {
        display: none;
    }

    .debug-panel-show + .debug-panel-tabs {
        display: none;
    }

    .debug-panel-show:checked + .debug-panel-tabs {
        display: block;
    }

    .debug-panel-empty {
        padding: 20px;
        background-color: #eee;
    }

    .debug-panel-tabs{
        background: #303030;
        border-bottom: 2px solid rgba(255,255,255,0.08);
        display: block;
        margin: 24px 0px;
        min-height: 50px;
        padding-left: 25px;
        position: relative;
        width: 100%;
    }

    .debug-panel-tabs .debug-panel-tab {
        display: block;
        float: left;
    }

    .debug-panel-tabs .debug-panel-tab > input[type="radio"] {
        display: none;
    }

    .debug-panel-tabs .debug-panel-tab>label {
        background: #303030;
        border-bottom: 2px solid rgba(255,255,255,0.08);
        color: rgba(255,255,255,.5);
        cursor: pointer;
        display: block;
        font-size: 15px;
        padding: 15px 21px;
        position: relative;
    }

    .debug-panel-tabs .debug-panel-tab-content {
        background: #303030;
        color: black;
        display: none;
        left: 0;
        margin-bottom: 32px;
        overflow: hidden;
        padding: 25px;
        position: absolute;
        top: 50px;
        transition: display 400ms ease-out;
        width: 100%;
        z-index: 0; /* or display: none; */
    }

    .debug-panel-tabs>.debug-panel-tab>[id^="debug-panel-tab"]:checked + label {
        border-bottom: 2px solid white;
        color: white;
        top: 0;
    }

    .debug-panel-tabs > .debug-panel-tab > [id^="debug-panel-tab"]:checked ~ [id^="debug-panel-tab-content"] {
        display: block;
        transition: display 400ms ease-out;
        z-index: 1; /* or display: block; */
    }

    .debug-panel-table {
        background-color: #eee;
        border-collapse: collapse;
        width: 100%;
    }

    .debug-panel-table tbody tr:nth-of-type(even) {
        background-color: white;
    }

    .debug-panel-table th,
    .debug-panel-table td {
        border: 1px solid #ccc;
        padding: 13px 20px 13px 20px;
    }

    .debug-panel-table th {
        background-color: rgba(0,0,0,.4);
        border-color: rgba(255,255,255,.06);
        color: #fff;
    }

    .debug-panel-table-header-name {
        width: 25%;
    }

</style>

<div class="debug-panel">

    <label class="debug-panel-show-label" for="debug-panel-show">
        ↧ Debug Panel
        <a href="https://www.finitewisdom.com" target="_blank">
            <img src="https://s3.amazonaws.com/cdn.finitewisdom.com/fff3cd_OwlOnly_128x128.png" width="32" alt="Finite Wisdom logo">
        </a>
    </label>
    <input class="debug-panel-show" type="checkbox" id="debug-panel-show"/>

    <ul class="debug-panel-tabs">

        <%
            Object.keys( options ).forEach( ( key, index ) => {
                var option = options[ key ];
                if ( option.display === true ) {
        %>
                    <li class="debug-panel-tab">
                        <input type="radio" name="tabs" <%= index === 0 ? 'checked="checked"' : '' %> id="debug-panel-tab-<%= key %>" />
                        <label for="debug-panel-tab-<%= key %>"><%= key %></label>
                        <div id="debug-panel-tab-content-<%= key %>" class="debug-panel-tab-content">
                            <%- formatAsTable( option.object, option.maxDepth ) %>
                        </div>
                    </li>
        <%
                }
            } );
        %>
      
        <% if ( false ) { %>

            <li class="debug-panel-tab">
                <input type="radio" name="tabs" checked="checked" id="debug-panel-tab-request" />
                <label for="debug-panel-tab-request">request</label>
                <div id="debug-panel-tab-content-request" class="debug-panel-tab-content">
                    <%- formatAsTable( req, /* maxDepth */ 2 ) %>
                </div>
            </li>
            
            <li class="debug-panel-tab">
                <input type="radio" name="tabs" id="debug-panel-tab-response" />
                <label for="debug-panel-tab-response">response</label>   
                <div id="debug-panel-tab-content-response" class="debug-panel-tab-content">
                    <%- formatAsTable( req.res, /* maxDepth */ 2 ) %>
                </div>
            </li>

            <li class="debug-panel-tab">
                <input type="radio" name="tabs" id="debug-panel-tab-headers" />
                <label for="debug-panel-tab-headers">headers</label>   
                <div id="debug-panel-tab-content-headers" class="debug-panel-tab-content">
                    <%- formatAsTable( req.headers ) %>
                </div>
            </li>

            <li class="debug-panel-tab">
                <input type="radio" name="tabs" id="debug-panel-tab-query" />
                <label for="debug-panel-tab-query">query</label>   
                <div id="debug-panel-tab-content-query" class="debug-panel-tab-content">
                    <%- formatAsTable( req.query ) %>
                </div>
            </li>

            <li class="debug-panel-tab">
                <input type="radio" name="tabs" id="debug-panel-tab-params" />
                <label for="debug-panel-tab-params">params</label>   
                <div id="debug-panel-tab-content-params" class="debug-panel-tab-content">
                    <%- formatAsTable( req.params ) %>
                </div>
            </li>

            <li class="debug-panel-tab">
                <input type="radio" name="tabs" id="debug-panel-tab-cookies" />
                <label for="debug-panel-tab-cookies">cookies</label>   
                <div id="debug-panel-tab-content-cookies" class="debug-panel-tab-content">
                    <%- formatAsTable( req.cookies ) %>
                </div>
            </li>

            <li class="debug-panel-tab">
                <input type="radio" name="tabs" id="debug-panel-tab-process" />
                <label for="debug-panel-tab-process">process</label>   
                <div id="debug-panel-tab-content-process" class="debug-panel-tab-content">
                    <%- formatAsTable( process, /* maxDepth */ 3 ) %>
                </div>
            </li>

            <li class="debug-panel-tab">
                <input type="radio" name="tabs" id="debug-panel-tab-app" />
                <label for="debug-panel-tab-app">app</label>   
                <div id="debug-panel-tab-content-app" class="debug-panel-tab-content">
                    <%- formatAsTable( req.app, /* maxDepth */ 4 ) %>
                </div>
            </li>

            <li class="debug-panel-tab">
                <input type="radio" name="tabs" id="debug-panel-tab-session" />
                <label for="debug-panel-tab-session">session</label>   
                <div id="debug-panel-tab-content-session" class="debug-panel-tab-content">
                    <%- formatAsTable( req.session, /* maxDepth */ 3 ) %>
                </div>
            </li>

        <% } %>
                
    </ul><!-- debug-panel-tabs -->  

</div><!-- debug-panel -->
